* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero-text {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
}

.hero-text h1 {
    color: #131313;
    text-align: center;
    font-family: "Work Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-text p {
    margin: 20px 0;
}

.primary-button {
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.hero-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px;
}

.hero-container img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.feature-container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 100px 50px;
}

.Features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.Features-img img {
    width: 100%;
    height: 100%;
}

.Features-description h3 {
    color: #727272;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ofOur {
    color: #131313;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Features {
    color: #FF900E;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Features-description p {
    color: #727272;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 0;
    /* 162.5% */
}

.loveAndEnjoy-container {
    display: flex;
    padding: 100px 50px;
    justify-content: space-between;
    /* gap: 50px; */
}

.loveAndEnjoy-description,
.loveAndEnjoy-image {
    max-width: 500px;
}

.loveAndEnjoy-description h1 {
    width: 400px;
    color: #131313;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.loveAndEnjoy-description p {
    color: #727272;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.loveAndEnjoy-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loveAndEnjoy-card p {
    color: #727272;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.loveAndEnjoy-image {
    position: relative;
}

.loveAndEnjoy-image img {
    width: 100%;
}


.experience {
    background-color: #FF900E;
    color: white;
    width: 340px;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    top: 600px;
    right: 300px;
}

.experience h1 {
    font-size: 65px;
}

.someFacts-container {
    padding: 100px 50px;
}

.someFacts-title {
    padding-bottom: 50px;
    width: 450px;
}

.someFacts-title h1 {
    color: #131313;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.someFacts-items {
    display: flex;
    justify-content: space-around;
}

.someFacts-card {
    text-align: center;
    border: 1px solid #FF900E;
    padding: 20px;
    width: 200px;
    border-radius: 5px;
}

.sponsors-container {
    padding: 100px 50px;
}

.sponsors-title {
    text-align: center;
}

.sponsors-title h1 {
    color: #131313;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.sponsors-title p {
    width: 450px;
    margin: 0 auto;
}

.sponsors {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

footer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
}

footer p {
    background-color: #FFF4E7;
    padding: 10px 20px;
}


/* responsive design */
@media screen and (max-width: 320px) {
    .header-container {
        flex-direction: column;
    }

    nav ul li {
        margin-left: 20px;
    }

    .feature-container {
        flex-direction: column;
        padding: 100px 0px;
    }

    .Features-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .loveAndEnjoy-container {
        display: flex;
        flex-direction: column;
        padding: 0 0;
    }

    .loveAndEnjoy-description h1 {
        width: 300px;
    }

    .someFacts-container {
        padding: 100px 0px;
    }

    .someFacts-title {
        padding-bottom: 50px;
        width: 300px;
    }

    .someFacts-items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .someFacts-card {
        text-align: center;
        border: 1px solid #FF900E;
        padding: 20px;
        width: 100%;
        border-radius: 5px;
    }

    .sponsors-container {
        padding: 50px 0px;
    }

    .sponsors-title p {
        width: 300px;
        margin: 0 auto;
    }

    .sponsors {
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }

    footer {
        max-width: 1440px;
        margin: 0 auto;
        padding: 50px 20px;
        text-align: center;
    }
}